service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: true;
      allow write, update, delete: if request.auth.uid == userId;
    }
  }
}
